body {
 font-family: 'ptsansnarrow', 'PT Sans', sans-serif;
 text-transform: uppercase;
 font-size: 14px;
 background: url('../img/bg.png');
 font-weight: bold;
 margin: 0;
}

h1 {
  font-size: 30px;
  margin: 0px;
  padding-top: 55px;
  padding-bottom: 28px;
}

h2 {font-size: 24px;}

header {font-size: 16px;}

.shop-content-show {font-size: 13px;}

.goods-list-item p {
  text-transform: none;
  margin-left: 16px;
}

.goods-list-item span {text-transform: uppercase}

header,
footer {
  background: #000;
  color: #fff;
}

header a,
footer a{
  color: #fff;
}

p {margin: 0;}

main,
.index-content {
  background: url('../img/bg.png');
}

main a {color: black;}

a {text-decoration: none;}

li {list-style: none;}

header ul {
  margin: 0;
  padding: 0;
}

header li {display: inline-block;}

header li a,
header li span,
.user-block a {
  display: block;
  padding-top: 23px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 26px;
}

header li:first-child a{padding-bottom: 24px;}

.main-navigation-active a,
.main-navigation-active span{
  border-bottom: 4px solid #fff;
  padding-bottom: 22px;
}

.user-block a {padding-left: 30px;}

.user-block {
  float: right;
  background: url('../img/log-in.svg') 0% 50% no-repeat;
}

main,.container {
  width: 940px;
  margin: auto;
  padding: 0px 10px;
}

.logo-btn{
  display: block;
  width: 111px;
  height: 24px;
  background: url("../img/logo.png") no-repeat 50% 50%;
  color: rgba(0,0,0,0);
}

.main-navigation {display: inline-block;}

.index-body {background: url("../img/bg-big.jpg");}

.index-logo {
  width: 368px;
  height: 204px;
  margin-right: auto;
  margin-left: auto;
}

.index-main{
  background: none;
  margin-top: 56px;
}

.index-main p{color: white;}

.index-features-item {
  float: left;
  width: 300px;
  margin-right: 20px;
  text-align: center;
  color: white;
}

.index-features-item:last-child {margin-right: 0;}

.index-features-name{
  font-size: 30px;
}

.index-features-item p{
  margin-top: 50px;
}

.index-features-item p::before{ /* размеры и положение приблизительные */
	content: "";
	display: block;
	background-color: #FFF;
	width: 17px;
	height: 17px;
	transform: rotate(45deg);
	position: relative;
	left: 50%;
  bottom: 33px;
}

.index-features {margin-bottom: 80px;}

.index-content {
  padding: 50px 80px;
  margin-bottom: 35px;
}

.index-content p {color: #000;}

.index-content-left {
  float: left;
  width: 380px;
}

.index-content-right {
  float: right;
  width: 300px;
}

.index-news-preview,
.index-gallery,
.index-gallery-content{
  padding: 0;
  margin: 0;
}

.index-news-preview li{
  padding-bottom: 30px;
}

.index-news-preview li time{
  font-weight: normal;
  text-transform: lowercase;
}

.bread-crumbs {
  display: inline-block;
  margin-bottom: 55px;
}

.bread-crumbs-item {
  padding-right: 26px;
  padding-left: 15px;
  position: relative;
}

.bread-crumbs-item:first-child {padding-left: 0;}

.shop-item-description li {position: relative;}

.bread-crumbs-item::after,
.shop-item-description li::before {
	content: "";
	display: block;
	background-color: #000;
	width: 7px;
	height: 7px;
	transform: rotate(45deg);
	margin-left: 15px;
	position: absolute;
	right: 0;
	top: 6px;
}

.shop-item-description li::before {left: -13px;}

.bread-crumbs-current {
	color: #aba9a7;
	padding-left: 15px;
}

.shop-item-content-left {
	float: left;
	width: 460px;
}

.shop-item-content-right {
	float: right;
	width: 390px;
}

.shop-item-gallery-big,
.shop-item-gallery-small,
.goods-list-item{
  box-shadow: 0 0 15px rgba(0,1,1,0.2);
}

.shop-item-gallery-small{
  float: left;
  margin-top: 21px;
  margin-right: 20px;
}

.shop-item-gallery-small:last-child{
  margin-right: 0;
}

.shop-item-description ul {padding: 0;}

.shop-item-description li {
  padding-left: 21px;
  padding-bottom: 6px;
}

.shop-item-description-top {padding-top: 22px;}

.shop-item-description-availability{float: left;}

.shop-item-description-article{
  float: right;
  color: #aeaeae;
}

.shop-item-description-text{
  padding-top: 34px;
  padding-bottom: 38px;
}

.shop-content-goods-list,
.shop-item-price-and-buy,
.goods-list-item-link,
.goods-list-item-price-and-buy{
  display: block;
}

.goods-list-item-link{
  box-sizing: border-box;
  height: 227px;
}

.shop-item-price,
.shop-item-buy,
.goods-list-price,
.goods-list-item-buy{
  display: inline-block;
  text-align: center;
}

.shop-item-price,
.goods-list-price{
  background: #e5e5e5;
  width: 109px;
  height: 43px;
  line-height: 43px;
  text-align: center;
  box-sizing: border-box;
}

.goods-list-price{
  margin-left: 16px;
  margin-bottom: 16px;
}

.shop-item-buy,
.goods-list-item-buy{
  margin-left: -4px;
  height: 43px;
  line-height: 43px;
  box-sizing: border-box;
  padding-right: 17px;
  padding-left: 19px;
  background: #000000;
  color: #fff;
}

.goods-list-item-buy{
  margin-right: 17px;
  margin-bottom: 16px;
}

.shop-item-description h2 {
  margin-top: 64px;
  margin-bottom: 32px;
}
.shop-content-left{
  float: left;
  width: 220px;
}

.shop-content-left ul{
  margin: 0;
  padding: 0;
}

.shop-content-right{
  float: right;
  width: 710px;
}

.shop-content-show,
.goods-list-pages-btn,
.goods-list-pages-btn-current{
  display: block;
  color: #fff;
  background: #000;
  line-height: 43px;
  width: 112px;
  text-align: center;
  border: none;
  margin-top: 50px;
  box-sizing: border-box;
}

.goods-list-pages-btn,
.goods-list-pages-btn-current{
  display: inline-block;
  width: 43px;
  margin-right: 7px;
}
.goods-list-pages-btn-current{
  background: #fff;
  color: #000;
}


.goods-list-item {
  float: left;
  box-sizing: border-box;
  width: 220px;
  height: 286px;
  padding: 0;
  margin-top: 0;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 0;
}

.goods-list-item:nth-child(3n) {margin-right: 0;}

.main-footer {
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;
  background: url('../img/bg-footer.jpg');
}

.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;
}

.footer-social {
  float: left;
  width: 180px;
  text-align: center;
}

.footer-copyright {
  float: right;
  width: 180px;
  text-align: center;
}

.clearfix::after{
  content:'';
  display:table;
  clear:both;
}

@font-face {
  font-family: ptsansnarrow;
  font-weight: normal;
  src: url(../fonts/ptsansnarrow.woff);
}

@font-face {
  font-family: ptsansnarrow;
  font-weight: bold;
  src: url(../fonts/ptsansnarrowbold.woff);
}
